@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

[id$="_legend"] {
  display: none !important;
}

#map_legend,
#map_access {
  display: none !important;
}
